{% raw %}{% extends "admin/base_site.html" %}
{% block extrahead %}
<style>

  /* disable dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #79aec8;
      --primary-fg: #fff;

      --body-fg: #333;
      --body-bg: #fff;
      --body-quiet-color: #666;
      --body-loud-color: #000;

      --breadcrumbs-fg: #c4dce8;
      --breadcrumbs-bg: var(--primary);

      --link-fg: #447e9b;
      --link-hover-color: #036;
      --link-selected-fg: #5b80b2;

      --hairline-color: #e8e8e8;
      --border-color: #ccc;

      --error-fg: #ba2121;

      --message-success-bg: #dfd;
      --message-warning-bg: #ffc;
      --message-error-bg: #ffefef;

      --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
      --selected-bg: #e4e4e4; /* E.g. selected table cells */
      --selected-row: #ffc;

      --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
      --close-button-hover-bg: #747474;
    }
  }


  /* for default btn */
  .d-btn {
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-weight: bold;
    padding: 2px 5px;
    min-width: 40px;
    text-decoration: none;
  }

  .d-btn:focus {
    border: 1px solid #dcdcdc;
    outline: #dcdcdc !important;
  }

  .d-btn:hover {
    background-color: #f6f6f6;
  }

  .d-btn:active {
    border: 1px solid #dcdcdc;
    position: relative;
    top: 1px;
  }

  /* for nav sidebar */
  #nav-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }

  #nav-sidebar::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  #nav-sidebar::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
  }

  .toggle-nav-sidebar {
    position: absolute;
    height: 30px;
    border: none;
    top: 85px;
  }

  .toggle-nav-sidebar:focus {
    outline: none;
  }

  .main.shifted .toggle-nav-sidebar {
    left: 278px;
  }

  .main.shifted>#nav-sidebar {
    left: 0;
  }

  /* for form row */
  @media (min-width: 1024px) {
    fieldset div.form-row {
      display: flex;
    }

    fieldset div.fieldBox {
      flex: 1;
      margin-right: 0;
    }
  }
</style>
{% endblock %}
{% endraw %}