Django==3.2
django-environ==0.4.5
gunicorn==19.9.0
honcho==1.0.1

django-model-utils==4.1.1

redis==3.5.3

{%- if cookiecutter.use_celery == "y" %}
celery==5.0.5  # pyup: < 5.0  # https://github.com/celery/celery
{%- endif %}

{%- if cookiecutter.use_postgres == "y" %}
psycopg2-binary==2.8.6
{%- endif %}

{%- if cookiecutter.use_whitenoise == "y" %}
whitenoise==5.0.1
{%- endif %}

djangorestframework==3.12.4
django-filter==2.4.0

djangorestframework-simplejwt==4.6.0

django-cors-headers==3.6.0

# linter
flake8-colors
flake8

# for local env
django-debug-toolbar==3.2.1
django_extensions==3.1.3